<!DOCTYPE html>
<html>
  <head>
      <title>{{title}}</title>
      <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" media="all">
      <link rel="stylesheet" href="/stylesheets/all.min.css">
      <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="glavniDel">
        <div class="sredina">
            <a href="/" class="home_link"><span class="pageTitle">CAMOPICKER</span></a>
        </div>
        {{{body}}}
        <br>
        <footer class="sredina"><a href="/about" style="color: #B2AF89;"><span>O strani</span></a></footer>
        <br>
    </div>

    <script src="/javascripts/jquery-3.5.1.min.js"></script>
    <script src="/javascripts/popper.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
