<html>
  <body>
    <div>
      <div style="width: 100px; height: 100px; background-color:&#39;#787d8a&#39;"></div>
      <div style="width: 100px; height: 100px; background-color:&#39;#aa791d&#39;"></div>
      <div style="width: 100px; height: 100px; background-color:&#39;#e5ab5e&#39;"></div>
      <div style="width: 100px; height: 100px; background-color:&#39;#beb3aa&#39;"></div>
      <div style="width: 100px; height: 100px; background-color:&#39;#405165&#39;"></div>
      <div style="width: 100px; height: 100px; background-color:&#39;#3b2d10&#39;"></div>
    </div>
  </body>
</html>

